@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Súper Zapatos</h1>
    <p class="lead">Prueba programada para desarrollador .Net MVC hecha por <a href="https://www.linkedin.com/in/corzodaniel/en" target="_blank">Daniel Corzo</a></p>
    <p><a class="btn btn-lg btn-success" href="/home/info" role="button">Acerca del Proyecto</a></p>
</div>
